{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{% block title %}My shop{% endblock %}</title>
		<link href="{% static "css/base.css" %}" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
	</head>
<body>
	<div id="header">
		<a href="/" class="logo">My shop</a>
	</div>
	<div id="subheader">
<div class="cart">
	{% with total_items=cart|length %}
		{% if total_items > 0 %}
			Your cart:
			<a href="{% url 'cart:cart_detail' %}">
				{{ total_items }} item{{ total_items|pluralize }},
				${{ cart.get_total_price }}
			</a>
		{% else %}
			Your cart is empty.
		{% endif %}
	{% endwith %}
</div>
	</div>
	<div id="content">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>