<h1>Este es el create</h1>

<form class="form-horizontal" autocomplete="off" method="post" role="form">
	{% csrf_token %}
	{% for field in form %}
	    {% if not field.is_hidden %}
	        <div class="form-group">
	            <label class="col-sm-2 control-label">
	                {{ field.label }}
	                {% if field.field.required %}
	                    <b style="color: red;">*</b>
	                {% endif %}
	            </label>
	            <div class="col-xs-4 col-md-{{ medidaInput }}">
	                {{ field }}
	            </div>
	            <div>
	                  {{ field.help_text }}
	            </div>

	            <div class="col-sm-offset-5 col-sm-7">
	                <input type="submit" value="Crear" class="btn btn-success">
	            </div>

	        </div>
	    {% else %}
	        {{ field }}
	    {% endif %}
	{% endfor %}
</form>
