<h1>Esta es la lista</h1>

<ul>
	{% for object in object_list %}

		<li>{{ object }}</li> 
		<a href="{% url 'polls:detail' object.pk %}">Detail</a>

	{% empty %}

		<h2>Sin registros</h2>

	{% endfor %}
</ul>