{% extends "shop/base.html" %}
{% load static %}
{% block title %}Proveedores{% endblock %}
{% block content %}
	<div class="row">
        <div class="col-lg-10">
            <a onclick="return abrir_modal('{% url 'modal:crear_proveedor' %}')" class="btn btn-primary">Crear</a>
        </div>
	</div>
	<hr/>
	<div class="row">
        <div class="col-lg-12">
            <table id="tabla" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="text-center">RUC</th>
                        <th class="text-center">RAZON SOCIAL</th>
                        <th class="text-center">DIRECCION</th>
                        <th class="text-center">ESTADO</th>
                        <th class="text-center">ACCIONES</th>
                    </tr>
                </thead>
                <tbody>
                    {% for proveedor in proveedores %}
	                	<tr>
		                    <td>{{ proveedor.ruc }}</td>
		                    <td>{{ proveedor.razon_social }}</td>
		                    <td>{{ proveedor.direccion }}</td>
                    		{% if proveedor.estado %}
                    			<td>ACTIVO</td>
                    		{% else %}
                    			<td>INACTIVO</td>
                    		{% endif %}
		                    <td class="text-center">
		                        <a onclick="return abrir_modal('{% url 'modal:detalle_proveedor' proveedor.pk %}')" class="btn">detail
		                            <span class="glyphicon glyphicon-eye-open"></span>
		                        </a>
		                        <a onclick="return abrir_modal('{% url 'modal:modificar_proveedor' proveedor.pk %}')" class="btn">modify
		                            <span class="glyphicon glyphicon-edit"></span>
		                        </a>
		                    </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
	</div>
	<div id="popup" class="modal fade" role="dialog"> </div>
	<script type="text/javascript">
		function abrir_modal(url)
			{
			        $('#popup').load(url, function()
			        {
			                $(this).modal('show');
			        });
			        return false;
			}
		function cerrar_modal()
			{
			        $('#popup').modal('hide');
			        return false;
			}
	</script>
{% endblock %}